body {
  display: block;
  margin: 0;
  background-color: black;
}
div:hover p {
  display: block;
}
.vtical {
  display: block;
  list-style: none;
  height: 510px;
  width: 105px;
  background-color: gray;
  color: white;
  margin: 0;
  padding: 0;
}
.vtical li {
  padding: 10px;
}
.vtical a {
  color: white;
  text-decoration: none;
}
.vtical a:hover {
  text-decoration: underline;
  color: brown;
}
footer {
  background-color: gray;
  height: 49px;
  color: white;
  text-align: center;
  line-height: 49px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.horizontal {
  display: flex;
  background-color: green;
  list-style: none;
  height: 100px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
}
.horizontal li {
  padding: 10px;
}
.horizontal a {
  color: white;
  text-decoration: none;
}
.horizontal a:hover {
  text-decoration: underline;
  color: darkmagenta;
}
